#### assignment- Python Workshop week 2
#### By Nidhi Sehgal

#### This workshop is designed to reinforce the key concepts covered in the Python Data Analytics Bootcamp. We'll go through a series of exercises covering:

#### Conditional Statements
#### Functions
#### Lists
#### Dictionaries
#### Loops

## Part 1: Conditional Statements
### Basic if statement
# Let's check if a number is positive, negative, or zero
number = 5  # Try changing this value

def check_number(number):
    if number > 0:
        return "The number is Positive"
    elif number < 0:
        return "The number is Negative"
    else:
        return "The number is 0"

In [7]:
check_number(57)

'The number is Positive'

check_number(-35)

In [6]:
check_number(0)

'The number is 0'

In [39]:
### Exercise 1: Grade Calculator
# Write a program that converts a numerical score to a letter grade
# 90-100: A
# 80-89: B
# 70-79: C
# 60-69: D
# Below 60: F

def calculate_grade(score):
    if score >= 90:
        return "Grade A"
    elif score >= 80:
        return "Grade B"
    elif score >= 70:
        return "Grade C"
    elif score >= 60:
        return "Grade D"
    else:
        return "Grade F"


# Test your function
test_scores = [95, 82, 71, 65, 55]
for score in test_scores:
    print(f"Score: {score}, Grade: {calculate_grade(score)}")

Score: 95, Grade: Grade A
Score: 82, Grade: Grade B
Score: 71, Grade: Grade C
Score: 65, Grade: Grade D
Score: 55, Grade: Grade F

In [40]:
calculate_grade(92)

'Grade A'

In [24]:
calculate_grade(86)

'Grade B'

In [25]:
calculate_grade(77)

'Grade C'

In [26]:
calculate_grade(64)

'Grade D'

In [27]:
calculate_grade(33)

'Grade F'

In [56]:
### Exercise 2: Discount Calculator
# Write a function that calculates the final price after applying a discount
# If the purchase amount is $100 or more, apply a 10% discount
# If the purchase amount is $500 or more, apply a 20% discount
# If the purchase amount is $1000 or more, apply a 30% discount

def discounted_amount(purchase_amount):
    if purchase_amount >= 1000:
        return purchase_amount - purchase_amount * 0.3, "30% discount"
    elif purchase_amount >= 500:
        return purchase_amount - purchase_amount * 0.2, "20% discount"
    elif purchase_amount >= 100:
        return purchase_amount - purchase_amount * 0.1, "10% discount"
    else :
        return purchase_amount, "no discount"

# Test your function
purchase_amounts = [50, 150, 600, 1200]
for purchase_amount in purchase_amounts:
    print(f"initial_price:{purchase_amount}, final_price:{discounted_amount(purchase_amount)}")

initial_price:50, final_price:(50, 'no discount')
initial_price:150, final_price:(135.0, '10% discount')
initial_price:600, final_price:(480.0, '20% discount')
initial_price:1200, final_price:(840.0, '30% discount')

In [70]:
## Part 2: Functions
### Basic function definition

def greet(name):
    return f"Hello, {name}!"

In [72]:
greet("Data Analyst")

'Hello, Data Analyst!'

print(greet("Nidhi"))

In [83]:
### Exercise 3: Temperature Converter
# Write a function that converts temperature from Celsius to Fahrenheit
# Formula: F = C * 9/5 + 32

def celsius_to_fahrenheit(celsius):
    farenheit = celsius * 9/5 + 32
    return farenheit

    # Test your function

temperatures_celsius = [0, 25, 37, 100]
for temperature in temperatures_celsius:
    print(f"{temperature}°C = {celsius_to_fahrenheit(temperature):.1f}°F")

0°C = 32.0°F
25°C = 77.0°F
37°C = 98.6°F
100°C = 212.0°F

In [82]:
celsius_to_fahrenheit(0)

32.0

In [106]:
### Exercise 4: Calculator Function
# Write a function that takes two numbers and an operation as parameters
# Supported operations: add, subtract, multiply, divide
# Return the result of the operation

def calculator(num1, num2, operation):
   if operation == "add":
    return num1 + num2
   elif operation == "subtract":
       return num1 - num2
   elif operation == "multiply":
       return num1 * num2
   elif operation == "divide":
       if num2 == 0:
           return "Error, Division by 0"
           return num1/num2
       else:
           return num1/num2

           
    # Test your function
    
print(calculator(10, 5, "add"))      # Should return 15
print(calculator(10, 5, "subtract")) # Should return 5
print(calculator(10, 5, "multiply")) # Should return 50
print(calculator(10, 5, "divide"))   # Should return 2
print(calculator(10, 0, "divide"))   # Should return an error

15
5
50
2.0
Error, Division by 0

In [103]:
calculator(15,3, "add")

18

In [104]:
calculator(82,63, "subtract")

19

In [107]:
calculator(13,8, "multiply")

104

In [108]:
calculator(754, 65, "divide")

11.6

In [109]:
calculator(754, 0, "divide")

'Error, Division by 0'

In [110]:
## Part 3: Lists

### Basic list operations
fruits = ["apple", "banana", "cherry", "date"]
print("Original list:", fruits)

# Accessing elements
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

# Modifying the list
fruits[1] = "blueberry"
print("After modification:", fruits)

# Adding elements
fruits.append("elderberry")
print("After append:", fruits)

# Removing elements
removed_fruit = fruits.pop(0)
print(f"Removed {removed_fruit}, List now:", fruits)

Original list: ['apple', 'banana', 'cherry', 'date']
First fruit: apple
Last fruit: date
After modification: ['apple', 'blueberry', 'cherry', 'date']
After append: ['apple', 'blueberry', 'cherry', 'date', 'elderberry']
Removed apple, List now: ['blueberry', 'cherry', 'date', 'elderberry']

In [121]:

### Exercise 5: List Statistics
# Write a function that takes a list of numbers and returns a dictionary with:
# - The minimum value
# - The maximum value
# - The average value
# - The sum of all values
 
def calculate_statistics(numbers):
    for number in numbers:
        number ={
            "minimum": min(numbers),
            "maximum": max(numbers),
            "average": sum(numbers) / len(numbers),
            "total": sum(numbers)
        }
        
    # Test your function
test_numbers = [5, 12, 8, 42, 23, 16]

stats = calculate_statistics(test_numbers)
print("Statistics:", stats)

Statistics: None

In [142]:
### Exercise 6: List Filtering
# Write a function that takes a list of numbers and returns a new list containing only even numbers

def filter_even_numbers(numbers):

    even_numbers =[]
    for num in numbers:
        if num % 2 == 0:   #checking even numbers
            even_numbers.append(num)
    return even_numbers

        #Test your function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter_even_numbers(numbers)
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [144]:
## Part 4: Dictionaries
### Basic dictionary operations
student = {
    "name": "Alex",
    "age": 23,
    "major": "Data Science",
    "gpa": 3.8
}

print("Student info:", student)

# Accessing values
print("Name:", student["name"])
print("Major:", student.get("major"))

# Adding or modifying key-value pairs
student["year"] = "Senior"
student["gpa"] = 3.9
print("Updated student info:", student)

# Removing key-value pairs
removed_age = student.pop("age")
print(f"Removed age: {removed_age}, Student info now:", student)

Student info: {'name': 'Alex', 'age': 23, 'major': 'Data Science', 'gpa': 3.8}
Name: Alex
Major: Data Science
Updated student info: {'name': 'Alex', 'age': 23, 'major': 'Data Science', 'gpa': 3.9, 'year': 'Senior'}
Removed age: 23, Student info now: {'name': 'Alex', 'major': 'Data Science', 'gpa': 3.9, 'year': 'Senior'}

In [155]:
### Exercise 7: Word Counter
# Write a function that takes a string and returns a dictionary with each word as a key
# and the number of occurrences as the value

def count_words(text):
    words = text.lower().split()     #turns every word into lowercase to make it case-insensitive and
                      686               #.split breaks the big string (sentence or paragraph) into individual words before counting

    word_counts = {}
    for word in words:
        word = word.strip(".,!?;:'\"()[]{}")      #removes punctuation so they are not counted
        if word in word_counts:
            word_counts[word] += 1             #If the word is already in the dictionary,it increases its count by 1
        else:
            word_counts[word] = 1              #if not in the dictionary,it creates a new entry with the count starting at 1
    
    return word_counts
    

# Test your function
sample_text = "The quick brown fox jumps over the lazy dog. The fox was quick and the dog was lazy."
word_counts = count_words(sample_text)
print("Word counts:", word_counts)

Word counts: {'the': 4, 'quick': 2, 'brown': 1, 'fox': 2, 'jumps': 1, 'over': 1, 'lazy': 2, 'dog': 2, 'was': 2, 'and': 1}

In [22]:
### Exercise 8: Contact Manager
# Create a small contact manager that lets you add, update, and retrieve contact information

contact_book = {}

def add_contact(name, phone, email=None):
    contact_book[name] = {"phone": phone, "email":email}
    return f"added contact:{name} ,{phone}"


def update_contact(name, phone=None, email=None):
    if name not in contact_book:
      return f"Contact {name} not found"
        
    if email is not None:
      contact_book[name]["email"] = email
    return f"updated_contact:{name}, {email}"
    
    if phone is not None:
        contact_book[name][phone] = phone
        return f"updated_contact:{name}, {phone}"
    

def get_contact(name):
    return contact_book.get(name, f"Contact {name} not found")


# get -function that will return contact name

    
# Test your contact manager
print(add_contact("Alice", "555-1234", "alice@example.com"))
print(add_contact("Bob", "555-5678"))
print(update_contact("Nidhi"))

print(get_contact("Alice"))
print(update_contact("Alice", email="alice.new@example.com"))
print(get_contact("Alice"))
print(get_contact("Charlie"))

added contact:Alice ,555-1234
added contact:Bob ,555-5678
Contact Nidhi not found
{'phone': '555-1234', 'email': 'alice@example.com'}
updated_contact:Alice, alice.new@example.com
{'phone': '555-1234', 'email': 'alice.new@example.com'}
Contact Charlie not found

In [21]:
## Part 5: Loops
### For loop with a list
print("Iterating through a list:")
colors = ["red", "green", "blue", "yellow"]
for color in colors:
    print(f"Color: {color}")

### For loop with range
print("\nUsing range():")
for i in range(5):
    print(f"Number: {i}")

### While loop
print("\nUsing a while loop:")
count = 0
while count < 5:
    print(f"Count: {count}")
    count += 1

Iterating through a list:
Color: red
Color: green
Color: blue
Color: yellow

Using range():
Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

Using a while loop:
Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [14]:
### Exercise 9: Factorial Calculator
# Write a function that calculates the factorial of a number using a loop
# Factorial of n = n * (n-1) * (n-2) * ... * 1

def factorial(n):
    # Your code here
    if n < 0:
        return "Error"
        
    result = 1
    for i in range(1,n + 1):
       result = result * i
    return result

    # if n == 0 or n == 1:
    #     return 1
    # else:
    #     return n * factorial(n - 1)
       
     
# Test your function
for num in range(6):
    print(f"Factorial of {num} = {factorial(num)}")

Factorial of 0 = 1
Factorial of 1 = 1
Factorial of 2 = 2
Factorial of 3 = 6
Factorial of 4 = 24
Factorial of 5 = 120

In [33]:
### Exercise 10: Data Analysis
# You're given a list of dictionaries, each representing a student's score on different tests.
# Calculate the average score for each student and identify the student with the highest average.

students_data = [
    {"name": "Alice", "scores": [88, 92, 95, 85]},
    {"name": "Bob", "scores": [90, 87, 88, 81]},
    {"name": "Charlie", "scores": [92, 95, 96, 93]},
    {"name": "David", "scores": [78, 85, 91, 89]}
]

def analyze_student_scores(students):
    
  for student in students_data:
    name = student ["name"]
    score = student ["scores"]
    average_score = sum(scores) / len(scores)
  return f"{name}, average score: {average_score}"


    
# Test your function
analysis = analyze_student_scores(students_data)
# print("\nStudent Analysis:")
print("Individual Averages:")


# for name, avg in analysis["individual_averages"].items():
#     print(f"  {name}: {avg:.2f}")
# print(f"Top Student: {analysis['top_student']} with average of {analysis['top_average']:.2f}")

NameError: name 'scores' is not defined

In [165]:
## Final Challenge: Sales Data Analysis

# You're given a list of dictionaries representing monthly sales data for a store.
# Each dictionary contains the month, category, and sales amount.

sales_data = [
    {"month": "Jan", "category": "Electronics", "amount": 1200},
    {"month": "Jan", "category": "Books", "amount": 850},
    {"month": "Jan", "category": "Clothing", "amount": 980},
    {"month": "Feb", "category": "Electronics", "amount": 1450},
    {"month": "Feb", "category": "Books", "amount": 920},
    {"month": "Feb", "category": "Clothing", "amount": 1050},
    {"month": "Mar", "category": "Electronics", "amount": 1600},
    {"month": "Mar", "category": "Books", "amount": 780},
    {"month": "Mar", "category": "Clothing", "amount": 1200}
]

def analyze_sales(sales):
    # Step 1 Calculate total sales per month
    monthly_sales = {}
    for 
    
    # Step 2 Calculate total sales per category
    
    
    # Step 3 Find the best performing month and category
        
    # Step 4 Calculate overall total sales
    

# Test your analysis function
sales_analysis = analyze_sales(sales_data)
print("\nSales Analysis:")
print("Monthly Sales:")
for month, amount in sales_analysis["monthly_sales"].items():
    print(f"  {month}: ${amount}")
print("\nCategory Sales:")
for category, amount in sales_analysis["category_sales"].items():
    print(f"  {category}: ${amount}")
print(f"\nBest Month: {sales_analysis['best_month']} with ${sales_analysis['monthly_sales'][sales_analysis['best_month']]}")
print(f"Best Category: {sales_analysis['best_category']} with ${sales_analysis['category_sales'][sales_analysis['best_category']]}")
print(f"Total Sales: ${sales_analysis['total_sales']}")

IndentationError: expected an indented block after function definition on line 18 (2276555171.py, line 31)